[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''local _mod = function(mod)
        local hand_UI = G.HUD:get_UIE_by_ID('hand_UI_count')
        mod = mod or 0'''
position = 'at'
payload = '''
    local _mod = function(mod)
        local hand_UI = G.HUD:get_UIE_by_ID('hand_UI_count')
        SMODS.calculate_context({post_play_anyeurism = true, hands_due = mod}, eval)
        if eval.modify ~= nil then mod = eval.modify end
         mod = mod or 0
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'function ease_hands_played(mod, instant)'
position = 'after'
payload = '''local eval = {}'''
match_indent = true

