[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = "ease_dollars(-1)"
position = "at"
payload = '''
ease_dollars(G.play.cards[i].base.nominal + 1 * -1 )
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''local _mod = function(mod)
        local hand_UI = G.HUD:get_UIE_by_ID('hand_UI_count')
        mod = mod or 0'''
position = 'at'
payload = '''
    local _mod = function(mod)
        local hand_UI = G.HUD:get_UIE_by_ID('hand_UI_count')
        if SMODS ~= nil then SMODS.calculate_context({post_play_anyeurism = true, hands_due = mod}, eval) end
for i = 1, #G.jokers.cards do
                 if not SMODS ~= nil then eval = G.jokers.cards[i]:calculate_joker({post_play_anyeurism = true, hands_due = mod}) end
                if eval then
                    if eval.nuhuh then
                        mod = 0
                        break
                    end
                end
            end
        if tonumber(mod) ~= 0 then mod = mod or 0 end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'function ease_hands_played(mod, instant)'
position = 'after'
payload = '''local eval = {}'''
match_indent = true

